<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shoes Trade-in</title>
    <link rel="icon" href="https://th.bing.com/th/id/R.50794cf857d3065b2ba1020501d08ad7?rik=f%2fR8tDTb6%2b%2baMw&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fpc5%2f6yd%2fpc56ydAMi.jpg&ehk=PqyYMsAyTYO%2bboRyefZuzKSTZmi%2b24he%2b1QsQpRceb8%3d&risl=&pid=ImgRaw&r=0">
    <link rel="stylesheet" href="/css/index.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <a href="/"><img class="imgSelect" src="https://previews.123rf.com/images/branche/branche1611/branche161100149/68116170-running-shoes-in-fire-icon.jpg" alt="Shoes logo"></a>
        <ul class="nav-bar">
            <li><a href="../trading/new">Start Trading</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Signup</a></li>
        </ul>
        <hr>
        <a class="Trades-Link" href="/trading">Trading</a>
    </nav>
    <div class="center-text">
