<%- include('./partials/header.ejs')%>
    <div>
        <h3>This shoe trading webiste will help users to trade their used shoes and quote their price and sell it.</h3>
        <p>Users can sell and Buy shoes here. </p>
    </div>
<%- include('./partials/footer.ejs')%>
