<%- include('./partials/header.ejs')%>
    <h1>Welcome to My Shoes Trade in !!!</h1>
    <h3>Trade any shoes here and grab new one</h3>
    <h3>Get register in our website to start trading your shoes</h3>
<%- include('./partials/footer.ejs')%>
